.App{
  text-align: center;
  padding: 5rem 1rem;
}

 nav{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 nav h3{
   margin:1rem ;
   color: #718096;
 }

 nav h3:hover{
   color: #fff;
 }

form{

 width:95% ;
 max-width:400px ; 
 margin: 0 auto;
 
} 
label{
 font-size: 1rem;
 font-weight: bold;
 display: block;
 text-align: left;
 margin: 1rem 0 0.2rem;
}
input,select{
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: white;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  border-radius: 10px;
  outline: none;
 
 

}

input,select:focus {
 
  border-color: lightcoral ;
}

button{
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #4299e1;
  width: 100%;
  color: black;
  margin-top: 1rem;
  border: none;
  color: #1a202c;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
 
