.App{
  text-align: center;
  padding: 5rem 1rem;
}

 nav{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 nav h3{
   margin:1rem ;
   color: #718096;
 }

 nav h3:hover{
   color: #fff;
 }

